@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #0f0f0f;
    --color-title: #FAFAFA;
    --color-primary-text: #e4e8ef;
    --color-secondary-text: #757676;
    --font-sans: "Inter", sans-serif;
}

@utility page-width {
    width: 90%;
    max-width: 840px;
    margin-inline: auto;
}

.light {
    --color-background: #FAFAFA;
    --color-title: #0f0f0f;
    --color-primary-text: #0f0f0f;
    --color-secondary-text: #757676;
}